<div class="animated slideInRight">
    <!-- First Row -->  
    <div class="row">
        <!-- Dallas's Total Revenue Information -->
        <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="chart-wrapper">
                <div class="chart-title">
                    <span>Revenue</span>
                    <a (click)="gotoSettings(dallasOptions.id)"><span class="pull-right glyphicon glyphicon-cog" aria-hidden="true"></span></a>
                </div>
                <div class="chart-stage text-center">
                    <chart [options]="dallasOptions"></chart>
                </div>
            </div>
        </div>
        <!-- End Dallas's Total Revenue Information -->
        <!-- Seattle's Total Revenue Information -->
        <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Revenue
                    <a (click)="gotoSettings(seattleOptions.id)"><span class="pull-right glyphicon glyphicon-cog" aria-hidden="true"></span></a>
                </div>
                <div class="chart-stage text-center">
                    <chart [options]="seattleOptions"></chart>
                </div>
            </div>
        </div>
        <!-- End Seattle's Total Revenue Information -->
        <!-- Boston's Total Revenue Information -->
        <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Revenue
                    <a (click)="gotoSettings(bostonOptions.id)"><span class="pull-right glyphicon glyphicon-cog" aria-hidden="true"></span></a>
                </div>
                <div class="chart-stage text-center">
                    <chart [options]="bostonOptions"></chart>
                </div>
            </div>
        </div>
        <!-- End Boston's Total Revenue Information -->
        <!-- Thank You Block -->
        <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Earnings Tracker
                </div>
                <div class="chart-stage">
                    <h3 class="text-center">Thanks for Staying Tuned!</h3>
                    <h4 class="text-center">Made with <i class="fa fa-heart" aria-hidden="true" style="color: #f48260;"></i> by <a href="https://www.cc28tech.com/" target="_blank">Cathy Wun</a>.</h4>
                    <p class="text-center"><strong>You have 5 tutorials:</strong></p>
                    <div class="row">
                        <div class="col-xs-12 col-sm-11 col-md-11">
                            <ol>
                                <li><a href="https://www.cc28tech.com/earnings-tracker-asp-net-core-web-api-part-1" target="_blank">Create a Web API Application in C#</a></li> 
                                <li><a href="https://www.cc28tech.com/earnings-tracker-asp-net-core-web-api-part-2" target="_blank">Create Web API Services</a></li>
                                <li><a href="https://www.cc28tech.com/angular-earnings-tracker-typescript-part-1" target="_blank">Create an Angular SPA in TypeScript</a></li>
                                <li><a href="https://www.cc28tech.com/angular-earnings-tracker-typescript-part-2" target="_blank">Create the Dashboard Feature Module</a></li>
                                <li><a href="https://www.cc28tech.com/angular-earnings-tracker-typescript-part-3" target="_blank">Create the Settings Feature Module</a></li>
                            </ol>
                        </div>
                    </div>
                    <p class="text-center"><strong>Thanks <a href="http://www.highcharts.com/" target="_blank">Highcharts</a> and <a href="http://shlomiassaf.github.io/angular2-modal/#/home" target="_blank">Angular 2 Modal</a> for their awesome tools.</strong></p>
                </div>
            </div>
        </div>
        <!--End Thank You Block-->
        <!-- Yearly Profit Per Office -->
        <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Profit By Office Location
                </div>
                <div class="chart-stage">
                    <chart [options]="profitChartOptions"></chart>
                </div>
            </div>
        </div>
        <!-- End Yearly Profit Per Office -->
        <!-- Yearly Revenue Per Office -->
        <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Revenue By Office Location
                </div>
                    <div class="chart-stage">
                    <chart [options]="revenueChartOptions"></chart>
                </div>
            </div>
        </div>
        <!-- End Yearly Profit Per Office -->
    </div>
</div>